body {
  margin: 0;
  padding: 0.5rem;
  overflow: hidden;
  box-sizing: border-box;
  font: 16px/1.25 arial, sans-serif;
}

small {
  font-size: 0.75rem;
}

p {
  margin: 0;
  font-size: 0.875rem;
}

figure {
  top: 50%;
  left: 50%;
  position: absolute;
  text-align: center;
  margin: -180px 0 0 -270px;
}

figcaption {
  margin: 0.5rem;
}

ul {
  margin: 0;
  padding: 0;
  width: 540px;
  height: 360px;
  list-style: none;
  border: 1px solid #fff;
  border-width: 1px 0 0 1px;
}

li {
  float: left;
  display: block;
  background: #ff0;
  position: relative;
  border: 1px solid #fff;
  border-width: 0 1px 1px 0;
}

li::after {
  top: 50%;
  left: 50%;
  z-index: 0;
  color: #fff;
  cursor: pointer;
  position: absolute;
  display: inline-block;
  content: attr(data-rule);
  font: bold 1.5rem/1 sans-serif;
  transform: translate(-50%, -50%) rotateZ(0);
}

canvas {
  z-index: 1;
  display: block;
  position: relative;
}

img {
  display: block;
}

.is-iframe {
  overflow: hidden;
}

.is-iframe figure {
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
}

.is-iframe figcaption {
  display: none;
}

.is-iframe canvas {
  width: 100%;
  max-width: 100%;
}

