html {
  min-height: 100%;
  overflow-y: scroll;
}

html,
body {
  height:100%;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font: 16px/1 sans-serif;
}

a {
  color: inherit;
}

b,
strong {
  font-weight: bold;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #222;
  text-transform: uppercase;
  font-family: normal 16px/1 arial, sans-serif;
}

tt,
pre,
code {
  margin: 0;
  padding: 0;
  font: 0.875em/1.5 Menlo, Monaco, Consolas, "Lucida Console", monospace;
}

.jumper {
  font-size: 0.75rem;
  padding: 1rem 0.5rem;
  box-sizing: border-box;
}

.jumper li {
  display: block;
}

.jumper strong,
.jumper a {
  padding: 0.5rem;
  display: inline-block;
}

.jumper a {
  text-decoration: none;
}

.jumper a:hover {
  text-decoration: underline;
}

.section {
  display: block;
}

.title {
  margin: 1rem 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content {
  width: 100%;
  padding: 1rem;
  overflow-x: auto;
  color: rgb(211, 208, 200);
  background: rgb(45, 45, 45);
}

.content,
.annotation {
  padding: 1rem;
  box-sizing: border-box;
}

.annotation p {
  margin-top: 0.25rem;
}

.pilwrap {
  display: none;
}

@media only screen and (min-width: 400px) {
  .jumper ul,
  .jumper li {
    display: inline-block;
  }
}

@media only screen and (min-width: 800px) {
  body {
    background: rgb(45, 45, 45);
  }

  .background {
    top: 0;
    width: 40%;
    z-index: -1;
    height: 100vh;
    position: fixed;
    max-width: 40rem;
    background: #fff;
  }

  .section {
    overflow: hidden;
  }

  .content {
    width: 60%;
    overflow: visible;
  }

  .content,
  .annotation {
    float: left;
    vertical-align: top;
    display: inline-block;
  }

  .annotation {
    width: 40%;
    max-width: 40rem;
    text-align: right;
    position: relative;
    padding-right: 2rem;
  }

  .pilwrap {
    top: 0;
    right: 0;
    bottom: 0;
    width: 2rem;
    display: block;
    position: absolute;
  }

  .pilcrow {
    top: 50%;
    left: 50%;
    opacity: 0;
    display: block;
    font-size: 1rem;
    padding: 1rem;
    position: absolute;
    text-decoration: none;
    transform: translate(-50%, -50%);
  }

  .annotation:hover
  .pilcrow {
    opacity: 1;
  }
}

/*

    Name:       Base16 Eighties Dark
    Author:     Chris Kempson (http://chriskempson.com)

    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Eighties Comment */
.hljs-comment,
.hljs-title {
  color: #a09f93;
}

/* Eighties Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #f2777a;
}

/* Eighties Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #f99157;
}

/* Eighties Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: #ffcc66;
}

/* Eighties Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #99cc99;
}

/* Eighties Aqua */
.css .hljs-hexcolor {
  color:: #66cccc;
}

/* Eighties Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #6699cc;
}

/* Eighties Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #cc99cc;
}

.hljs {
  display: block;
  background: #2d2d2d;
  color: #d3d0c8;
  padding: 0.5em;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
